.ac-container
{
position: absolute;
margin: 14px 0px 0px 25px;
width: 150px;
}

.ac-container a
{
text-decoration: none;
color: #363636;;

}


.ac-container label
{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 17px;
	cursor: pointer;
	color: #fff;
	font-weight: 900;
	line-height: 15px;
	font-size: 15px;
	background: #ffffff;
	box-shadow: 
		0px 1px 0px 0px rgba(0,0,0,0.3), 
		0px 0px 0px 1px rgba(0,0,0,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label a:hover
{
	text-decoration:underline;
}
.ac-container input{
	display: none;
}
.ac-container article
{
	background: #4F4F4F;
	margin-top: 0px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article.ac-medium
{
	height: 480px;
}

#nav
{
padding: 0px;
width: 150px;
}

#nav li 
{
list-style-type: none; 
}

#nav li a:hover
{	
background: #696969;
}		

#nav li a
{
display: block;	
width:auto;
height:auto;
padding: 6px 10px ;
text-decoration: none;
color: #EAFFED;	
}